footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}


.circle {
    border-radius: 50%;
    width: 105px;
    height: 105px;
}

.material-icons.md-48 {
    font-size: 48px;
}