<mat-toolbar-row>
  <span>Registration</span>
</mat-toolbar-row>
<div class="form-container">
  <form [formGroup]="registrationForm" class="registration-form full-width" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="email.invalid">
        {{getEmailErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="password.invalid">
        {{getPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
      <mat-error *ngIf="confirmPassword?.invalid">
        {{getConfirmPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Submit</button>
  </form>
</div>