<div class="menuItems">
  <h2 class="category">{{currentCategory}}</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of menuItems" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          {{item.name}}
          <p *ngIf="item.spicy">🔥</p>
          <p *ngIf="item.vegatarian">🌿</p>
        </mat-panel-title>
        <mat-panel-description>
          {{item.price}} Forint
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>{{item.description}}</mat-grid-tile>
        <mat-grid-tile>
          <mat-chip-list>
            <mat-chip color="warn" selected *ngIf="item.spicy">Spicy 🔥</mat-chip>
            <mat-chip color="accent" selected *ngIf="item.vegatarian">Vegatarian 🌿</mat-chip>
          </mat-chip-list>
        </mat-grid-tile>
        <mat-grid-tile><button mat-button color="warn" (click)="onAdd(item.id)"
            *ngIf="authService.isAuthenticated()">Add To Cart</button></mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>