mat-expansion-panel {
  max-width: 60%;
}

table {
  width: 100%;
}

.menuItems {
  padding-left: 26%
}

.category {
  font-weight: 500;
  font-size: 1.4em;
}

mat-toolbar-row {
  font-size: 1.5em;
  color:white;
  background-color: #ea3131;
  text-align: center;
}

.menuItems {
  height: 100%;
  background-image: url(../../../assets/images/food-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}