<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="."><i>FOODRUNNER</i></a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <span class="fill-space"></span>
    <a mat-button [routerLink]="['/register']" *ngIf="!authService.isAuthenticated()">Register</a>
    <a mat-button [routerLink]="['/login']" *ngIf="!authService.isAuthenticated()">Login</a>
    <a mat-button (click)="onLogout()" *ngIf="authService.isAuthenticated()">LogOut</a>
  </mat-toolbar-row>
</mat-toolbar>