@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
    margin: 0;
    background-color: #424242;
    color: white;
    font-size: 1.5em !important;
}

.mat-toolbar.mat-primary {
    background: #ea3131;
    color: #fff;
}

.right-aligned-header>.mat-content {
    justify-content: space-between;
}

.mat-content>mat-panel-title, .mat-content>mat-panel-description {
    flex: 0 0 auto;
}